version: 2
updates:
  - package-ecosystem: "npm"
    directory: "/"
    schedule:
      interval: "daily"
      time: "02:00"
      timezone: Europe/Paris
    open-pull-requests-limit: 10
    versioning-strategy: increase
    ignore:
      - dependency-name: husky
        versions:
          - ">= 5.0.0"
