service: include-external-npm-packages-lock-file

# Add the serverless-webpack plugin
plugins:
  - serverless-webpack

provider:
  name: aws
  runtime: nodejs12.x

custom:
  webpack:
    webpackConfig: 'webpack.config.js'
    packager: 'npm'
    includeModules: true

functions:
  first:
    handler: handler.hello
    events:
      - http:
          method: GET
          path: first
          integration: lambda
