service: include-external-npm-packages

# Add the serverless-webpack plugin
plugins:
  - serverless-webpack

provider:
  name: aws
  runtime: nodejs20.x

custom:
  webpack:
    webpackConfig: 'webpack.config.js'
    packager: 'yarn'
    includeModules: true

functions:
  first:
    handler: handler.hello
    events:
      - http:
          method: GET
          path: first
          integration: lambda
