service: serverless-webpack-offline-example

# Add the serverless-webpack plugin
plugins:
  - serverless-webpack
  - serverless-offline

provider:
  name: aws
  runtime: nodejs6.10

custom:
  webpackIncludeModules: true

functions:
  first:
    handler: handler.hello
    events:
      - http:
          method: GET
          path: first
