name: Linter

on:
  pull_request:
  push:
    branches:
      - master
      - release/*

env:
  FORCE_COLOR: true

jobs:
  eslint:
    runs-on: ubuntu-20.04
    name: ESLint

    steps:
      - name: "Checkout"
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: "Install Node.js"
        uses: actions/setup-node@v3
        with:
          node-version: 16

      - name: "Install dependencies"
        run: npm ci

      - name: "Lint files"
        run: "npm run eslint"
