name: Tests

on:
  pull_request:
  push:
    branches:
      - master
      - release/*

jobs:
  mocha:
    runs-on: ${{ matrix.os }}
    name: Node.js ${{ matrix.node }} on ${{ matrix.os }}

    strategy:
      matrix:
        os:
          - windows-latest
          - ubuntu-18.04
        node:
          - "10"
          - "12"
          - "14"

    steps:
      - name: "Checkout"
        uses: actions/checkout@v2
        with:
          fetch-depth: 2

      - name: "Install Node.js"
        uses: actions/setup-node@v2
        with:
          node-version: "${{ matrix.node }}"

      - name: "Install dependencies"
        run: npm ci

      - name: "Run tests"
        run: "npm run test"

  coverage:
    name: "Upload coverage"
    runs-on: ubuntu-20-04
    needs:
      - "mocha"

    steps:
      - name: "Checkout"
        uses: actions/checkout@v2
        with:
          fetch-depth: 2

      - name: "Install Node.js"
        uses: actions/setup-node@v2
        with:
          node-version: "12"

      - name: "Install dependencies"
        run: npm ci

      - name: "Run tests"
        run: "npm run test-coverage"

      - name: "Upload to Coveralls"
        uses: coverallsapp/github-action@master
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}

  serverless-v1:
    runs-on: ${{ matrix.os }}
    name: Node.js ${{ matrix.node }} on ${{ matrix.os }} with Serverless v1

    strategy:
      matrix:
        os:
          - ubuntu-20.04
        node:
          - "14"

    steps:
      - name: "Checkout"
        uses: actions/checkout@v2
        with:
          fetch-depth: 2

      - name: "Install Node.js"
        uses: actions/setup-node@v2
        with:
          node-version: "${{ matrix.node }}"

      - name: "Install Serverless v1"
        run: npm install serverless@"<2.0.0"

      - name: "Install dependencies"
        run: npm ci

      - name: "Run tests"
        run: "npm run test"
